# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment files
.env
